<h3>Overview</h3>

<div class="row-fluid">
    <h4>A spreadsheet program</h4>

    <h4>R</h4>
    <p>
      R is a programming language that specializes in statistical
      computing. It is a powerful tool for exploratory data analysis. To
      interact with R, we will
      use <a href="http://www.rstudio.com/">RStudio</a>, an interactive
      development environment (IDE).
    </p>
    <h4>SQL</h4>
    <p>
      SQL is a specialized programming language used with databases.
      We use a simple database manager called <a href="http://www.sqlite.org/">SQLite</a>,
      either directly or through a browser plugin.
    </p>
	<h4>OpenRefine</h4>
    <p>
      <a href="http://openrefine.org/">OpenRefine</a> (formerly Google Refine) is a powerful tool for exploring and working with messy data.
      
    </p>
</div>

<h3 id="windows">Windows</h3>
<p>
Please go through all the installation steps below and make sure that 
you not only installed them, but start them up to make sure they're working. 
If you have any problems, don't hesitate to email the instructors to 
ask for help, or arrive early on the first day of the workshop to 
get help.

<div class="row-fluid">
<ol>
<li><b>A spreadsheet program</b>
<br>For this workshop you will need a spredsheet program. Many people already have 
Microsoft Excel installed, and if you do, you're set! 
<p>
If you need a spreadsheet 
program, there are a few other options, like OpenOffice and LibreOffice. Install 
instructions for LibreOffice, which is free and open source, are here.
       <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.org/download/libreoffice-fresh/>installation page</a>. The version for Windows 
should automatically be selected. Click <b>Download Version 4.4.2</b>. You 
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically. 
          <li><b>Install LibreOffice</b>
            <br>Once the installer is downloaded, double click on it and it should install.
<li>To use LibreOffice, double click on the icon and it will open.
</ul>



<li><b>Google Refine</b>
<br>Google Refine (previously OpenRefine) is a tool for data cleaning 
that runs through a web browser, and any browser -
Safari, Firefox, Chrome, Explorer - should work fine. 
You will need to download Google Refine and install it, 
and when you open it, it will run through the browser, but you don't need
an internet connection, and the data will all be stored on your computer.
<ul>
<li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download 
page</a> 
<li>Click on <i>Windows kit</i> to download the install file
<li>To use it, unzip, and double-click on google-refine.exe (if you're having issues
with google-refine.exe try refine.bat instead)
<li>Google Refine will then open in your web browser.
</ul>

<li><b>R</b>
<br>In the workshop, we will use RStudio. RStudio is a nice interface to the 
programming language R. To use RStudio, you need to install both R and RStudio.
<ul>
<li>      Download R from
      <a href="http://cran.r-project.org/bin/windows/base/release.htm">here</a>
<li>Run the .exe file that was just downloaded
<li>Go to the <a href="http://www.rstudio.com/ide/download/desktop">RStudio Download page</a>
<li>Under <i>Installers</i> select <b>RStudio 0.98.1103 - Windows XP/Vista/7/8</b>
<li>Double click the file to install it
<li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
</ul>

<li><b>SQLite</b>
<br>
For this workshop we're going to use the Firefox SQLite Plugin. It works through
the web browser Firefox. 
<ul>
<li>If you don't already have Firefox installed <a href=https://www.mozilla.org/en-US/firefox/new/>install Firefox</a>
<li>Start Firefox      
<li>Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/\
">plugin homepage</a>.
<li> Click the "Add Now" button.
<li> Click "Install Now" on the dialog that appears after the download completes.
<li> Restart Firefox when prompted.
<li> Select "SQLite Manager" from the "Tools" menu and it will open within Firefox
</ul>
</ol>

</div>

<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
  </div>
  <div class="span6">
    <h4>R</h4>
    <p>
      Install R by downloading and running
      <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
      from <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Mac OS X.
      Also install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
	<h4>OpenRefine</h4>
    <p>
      Download the OpenRefine software described <a href="#openrefine">below</a>.
    </p>
  </div>
</div>

<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Bash</h4>
    <p>
      The default shell is usually <code>bash</code>,
      but if your machine is set up differently
      you can run it by opening a terminal and typing <code>bash</code>.
      There is no need to install anything.
    </p>
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> is one option for Linux users.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
  </div>
  <div class="span6">
    <h4>R</h4>
    <p>
      You can download the binary files for your distribution
      from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
      you can use your package manager, e.g. for Debian/Ubuntu
      run <code>apt-get install r-base</code>. Also, please install
      the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Linux.
      Also install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
	<h4>OpenRefine</h4>
    <p>
      Download the OpenRefine software described <a href="#openrefine">below</a>.
    </p>
  </div>
</div>

<h3>Miscellaneous</h3>

<div class="row-fluid">
  <div class="span6">
    <h4 id="firefox-sqlite">Firefox SQLite Plugin</h4>
    <p>
      Instead of using <code>sqlite3</code> from the command line,
      you may use <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">this plugin</a>
      for Firefox instead.
      To install it:
    </p>
    <ul>
      <li>
	Start Firefox.
      </li>
      <li>
	Go to the <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">plugin homepage</a>.
      </li>
      <li>
	Click the "Add Now" button.
      </li>
      <li>
	Click "Install Now" on the dialog that appears after the download completes.
      </li>
      <li>
	Restart Firefox when prompted.
      </li>
      <li>
	Select "SQLite Manager" from the "Tools" menu.
      </li>
    </ul>
  </div>
  <div class="span6">
    <h4 id="openrefine">OpenRefine</h4>
    <p>
      Head to the OpenRefine <a href="http://openrefine.org/download.html">download page</a> for information on how to install it. It will run through a browser, but will not need to use an internet connection, and your data will also be securely stored on your own computer. 
	</p>
  </div>
 </div>
 
