<h2 id="setup">Setup</h2>

<p>
  To participate in a Data Carpentry workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
  Once you are done installing the software listed below,
  please go to <a href="setup/index.html">this page</a>,
  which has instructions on how to test that everything was installed correctly.
</p>

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by ':q!' (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <p>
	<code>nano</code> is the editor installed by the Software
	Carpentry Installer, it is a basic editor integrated into the
	lesson material.
      </p>
      <p>
	<a href="http://notepad-plus-plus.org/">Notepad++</a> is a
	popular free code editor for Windows.  Be aware that you must
	add its installation directory to your system path in order to
	launch it from the command line (or have other tools like Git
	launch it for you).  Please ask your instructor to help you do
	this.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
	We recommend
	<a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
	<a href="http://www.sublimetext.com/">Sublime Text</a>.
	In a pinch, you can use <code>nano</code>,
	which should be pre-installed.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
	<a href="http://kate-editor.org/">Kate</a> is one option for
	Linux users.  In a pinch, you can use <code>nano</code>, which
	should be pre-installed.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <p>
	Install Git for Windows by downloading and running
	<a href="http://msysgit.github.io/">the installer</a>.
	This will provide you with both Git and Bash in the Git Bash program.
      </p>
      <h4>Software Carpentry Windows Installer</h4>
      <p>It installs and configures <code>nano</code> (<a href="{{site.swc_github}}/windows-installer">Among other things</a>)</p>
      <p><em>This installer requires an active internet connection.</em></p>
      <p>After installing Git Bash:</p>
      <ul>
	<li>
          Download the <a href="{{site.swc_installer}}">Software Carpentry Windows installer</a>.
	</li>
	<li>
          Double click on the file to run it.
	</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
	The default shell in all versions of Mac OS X is bash, so no
	need to install anything.  You access bash from the Terminal
	(found in
	<code>/Applications/Utilities</code>).  You may want to keep
	Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
	The default shell is usually <code>bash</code>, but if your
	machine is set up differently you can run it by opening a
	terminal and typing <code>bash</code>.  There is no need to
	install anything.
      </p>
    </div>
  </div>
<div> <!-- End of 'shell' section. -->